.reserve {
  width: 70%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.datePicker {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.datePicker h2 {
  margin-bottom: 10px;
}

.userInfo {
  flex: 6;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border-color: 1px solid lightgray;
}
